.white {
  color: #ffffff; }

body {
  font-family: "Nunito"; }

.center {
  margin-left: auto;
  margin-right: auto;
  text-align: center; }

.nav {
  height: 65px;
  margin: 0; }

ul {
  display: inline; }

.empty_box {
  margin-top: 70px; }

.heading {
  font-size: 18pt;
  font-family: "Nunito"; }

.search_height {
  height: 111.5pt; }

.the_content {
  font-family: "Nunito";
  margin-top: 20px;
  box-shadow: 10px 10px 40px 0 rgba(131, 133, 133, 0.37);
  padding: 10px;
  margin-left: 20px;
  margin-right: 20px;
  border-radius: 10px; }

input {
  background-color: rgba(255, 255, 255, 0.5);
  color: white;
  border-radius: 20pt;
  padding-left: 20px;
  height: 40pt;
  width: 300pt;
  border-style: solid;
  border-width: 1px; }

.highlighter {
  background: -webkit-linear-gradient(left, #06bebd, #b7ce63);
  /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(right, #06bebd, #b7ce63);
  /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(right, #06bebd, #b7ce63);
  /* For Firefox 3.6 to 15 */
  background: linear-gradient(to right, #06bebd, #b7ce63);
  /* Standard syntax */
  border-radius: 20pt; }

.navbar-brand {
  position: absolute;
  width: 100%;
  left: 0;
  text-align: center;
  margin: 0 auto; }

.navbar-toggle {
  z-index: 3; }

.grad {
  font-size: 36px;
  background: red;
  /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left, #06bebd, #b7ce63);
  /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(right, #06bebd, #b7ce63);
  /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(right, #06bebd, #b7ce63);
  /* For Firefox 3.6 to 15 */
  background: linear-gradient(to right, #06bebd, #b7ce63);
  /* Standard syntax */ }
